body {
    background-color: rgb(26, 26, 26);
    font-family: Arial;
    color: white;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.choice-button {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
    padding: 32px;
}

.choice-icon {
    height: 50px;
    width: 50px;
}

.result {
    font-size: 25px;
    font-weight: 600;
    margin-top: 46px;
}

.game-choice {
    margin-bottom: 60px;
}

.reset-score ,
.auto-play,
.confirmation > button {
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    padding: 8px 14px;
}

.confirmation {
    margin-top: 10px;;
}

.confirmation > button {
    margin-left: 10px;
}